.banner{
	background: url(copy.jpg);
	background-size: 100% 100%;	
	height: 600px;
	text-align: center;
	margin-bottom: 2rem;
}
.bgrnd{
	background: url(cinema.jpg);
}
.row{
	background: url(images/bg.jpg) no-repeat center-fixed !important;
}
.bg-primary,.btn-primary,.theadbg{ 
	background:#438D80 !important;
}
.link-color{
	
	color: #EDC9AF  !important; 
}
.link-color:hover{
	text-decoration: none !important;
}
.card-body .card-link{
	width: 100%;
	text-align: center;
}
.card-img-top{
	height: 250px;
}
.cover{
	height: 700px;
	margin-bottom: 2rem;
}
.ff{
	background: #d9d9d9 !important;
}

footer{
	background:#438D80;
}
@media screen and (max-width: 760px) {
	.body {
		background-size: 100% 100%;	
		max-height: 400px;
	}
	.mediaI{
	display: block !important;
}
}