.custom-modal{
	position:fixed;
	z-index: 10000;
    top: 0; 
    height: 100%; 
    width: 100%;
    background: rgba(0,0,0,.6);
    left: 0;
    display: none;
	
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
 
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin:0 auto;
}
.animate {
    -webkit-animation: animatezoom 1.5s;
    animation: animatezoom 1.5s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}